@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-[#151875] text-[42px] font-bold;
  }
  h3 {
    @apply text-[#151875] text-[20px] font-bold underline;
  }
  h4 {
    @apply text-[#7E81A2] text-[16px] font-normal;
  }
  h5 {
    @apply text-[#151875] text-[22px] font-semibold;
  }
  input {
    @apply !outline-none;
  }
}
.box-shadow {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}
.box-shadow2 {
  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
}
.box-shadow3 {
  box-shadow: 0px 0px 25px 5px rgba(246, 246, 253, 0.5);
}
.box-shadow4 {
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.05);
}
.box-shadow5 {
  box-shadow: 0px 0px 25px 10px #f6f4fd;
}
.box-shadow6 {
  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
}
.box-shadow7 {
  box-shadow: 0px 0px 17.004px 0px rgba(0, 0, 0, 0.25);
}
.box-shadow8 {
  box-shadow: 0px 0px 25px 10px #f6f4fd;
}
.box {
  display: block;
  position: relative;
  height: 30px;
  padding-left: 25px;
  margin: 8px 0;
  cursor: pointer;
}
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #e5e0fc;
}
.box:hover input ~ .checkmark {
  background-color: #e5e0cc;
}
.box input:checked ~ .checkmark {
  background-color: #603eff;
}
.checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #603eff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.box input:checked ~ .checkmark:after {
  border: solid white;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
}
.checkmark2 {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffdbf1;
}
.box:hover input ~ .checkmark2 {
  background-color: #ffd6ef;
}
.box input:checked ~ .checkmark2 {
  background-color: #ff3eb2;
}
.checkmark2:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #ff3eb2;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.box input:checked ~ .checkmark2:after {
  border: solid white;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
}
.checkmark3 {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff6da;
}
.box:hover input ~ .checkmark3 {
  background-color: #fff6da;
}
.box input:checked ~ .checkmark3 {
  background-color: #ffcc2e;
}
.checkmark3:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #ffcc2e;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.box input:checked ~ .checkmark3:after {
  border: solid white;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
}
.box2 {
  display: block;
  position: relative;
  height: 30px;
  padding-left: 20px;
  cursor: pointer;
}
.box2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark4 {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #31ff9178;
}
.box2:hover input ~ .checkmark4 {
  background-color: #31ff9178;
}
.box2 input:checked ~ .checkmark4 {
  background-color: #19d16f;
}
.checkmark4:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #19d16f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.box2 input:checked ~ .checkmark4:after {
  border: solid #ffffff;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
}
